{% extends "h:templates/layouts/account.html.jinja2" %}

{% set page_route = 'account_developer' %}
{% set page_title = 'Developer' %}

{% block page_content %}
  <div class="form-vertical">
    <p>Developer API is disabled for Liquid nodes.</p>
  </div>
{% endblock page_content %}
