<footer class="footer">
  <nav class="footer__content">
    {% if liquid %}
    <div class="footer__item">
      <a class="brand" href="{{ liquid.url }}">
        <img src="{{ liquid.url }}/static/icons/favicon.png" height=32 width=32>
        <span class="brand__name">{{ liquid.title }}</span>
      </a>
    </div>
    {% endif %}

    <div class="footer__item">
      {% include "h:templates/includes/brand.html.jinja2" %}
    </div>

    <div class="footer__rows">
      <ul class="footer__row">
        <li class="footer__item">
          <a href="https://github.com/liquidinvestigations/docs/wiki/User---Hypothesis"
             target='_blank'>{% trans %}Help{% endtrans %}</a>
        </li>
      </ul>
    </div>
  </nav>
</footer>
